body{
    background-color: #046EFD;
    
}
.container{
    margin-top: 2.5%;
}
h1, h2{
    text-align: center;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 27px;
}

h2{
    font-size: 24px;
}
#simpsons-logo{
    max-width: 25%;
    max-height: 25%;
    margin: 0 auto;
    display: block;
    width: 50%;
}

#simpsons-family{
    max-width: 75%;
    max-height: 75%;
    margin-left: 40%;
    display: block;
}
#index-li{
    display: inline-block;
}

#instructions{
    margin-top: 100px;
    border-color: black;
    border-width: 2px;
    background-color: rgb(255, 223, 37);
    font-size: 20px;
}

#start{
    border-color: black;
    border-width: 2px;
    background-color: #EB5E30;
    font-size: 20px;
    padding: 2px 42px;
    margin-top: 10px;
}

#simpsons-logo-instructions{
    max-width: 20%;
    max-height: 20%;
    margin: 0 auto;
    display: block;
    width: 50%;
    margin-top: 1%;
}

#back-button{
    border-color: black;
    border-width: 2px;
    background-color: #EB5E30;
    font-size: 18px;
    padding: 2px 30px;
    margin-left: 40%;
    display: inline-block;
}

#start-button{
    border-color: black;
    border-width: 2px;
    background-color: rgb(255, 223, 37);
    font-size: 18px;
    padding: 2px 30px;
    display: inline-block;
}

#play-again-button{
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    background-color: rgb(255, 223, 37);
    font-size: 18px;
    padding: 3px 30px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.buttons{
    margin-top: 35px;
    /* change later once road is in container */
}

ol{
    margin-left: 28%;
    color: aliceblue;
    font-size: 20px;
    padding-bottom: 3%;
    
}
#instructions-heading{
    margin-top: 1%;
}

.container{
    background-color: rgb(60, 189, 82);
    border: 7px solid whitesmoke;
    border-radius: 10px;
    width: 35%;
    height: 500px;
}

/* .road{
    width: 400px;
    height: fit-content;
    background-color: rgb(42, 42, 42);
    margin: auto;
    position: relative;
    border-left: 7px dashed white;
    border-right: 7px dashed white; */
/* } */

#canvas {
    background-color: rgb(60, 59, 59);
    border-left: 7px dashed white;
    border-right: 7px dashed white;
    margin: auto;
    width: 80%;
    height: 486px;
    display: flex;
    justify-content: center;
}
#top-left {
    grid-area: top-left;
    display: flex;
}
#simpson-gif{
    width: 70%;
    height: 50%;
    display: flex;
    position: relative;
    top: 162px;
    left: 60px
}

#winner{
    color:rgb(255, 223, 37);
    font-size: 30px;
    position: relative;
    top: 130px
}